.containeremail{
    border-bottom: 1px solid #dddddd81;
    height: 30px;
    display: flex;
    align-items: center;
    
}
.email{
float: left;
color: #ffffff8f;
margin-left: 5px;
display: flex;
align-items: center;
text-decoration: none; 

}
.divIcon{
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    

    
}

.iconosRedes{
    border-left: 1px solid #dddddd81;
    display: flex;
    align-items: center;
    height: 28px;
    width: 28px;
    padding-right: 50px;
    

    
}
.nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 131px;
    box-sizing: border-box;
    /* background: rgba(0, 0, 0, 0.228); */
    border-bottom: 1px solid #dddddd81
}
.nav .logo {
    display: flex;
    align-items: center;
    padding: 22px 20px;
    height: 56px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.divImg{
    display: flex;
    align-items: center;
    margin: 8px;

    
}
.logoimage {
    height: 70px;
    width: 70px;
    border-radius: 30px;
}

.nav .ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav .ul .li .a {
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav .ul .li .a:hover{
    background: rgba(0, 0, 0, 0.402);
    border-radius: 6px;

}
.nav:hover {
    background-color:#3a281cb3;
    transition: 1.5s;
}
.secciones{
    display: flex;
    align-items: center;
    float: right;
    margin-right: 200px;
    height: 100px;

 
}
/* .section {
    width: 100%;
    height: 100vh;
    background: url(./assets/300.png);
    background-size: cover;
    background-position: center;
} */